:root {
  --bg-color: #ffffff;
  --btn-color: #8f5cff;
  --text-color: #222;
  --accent-color: #181818;
  --card-color: #858585;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';

}

body{
    align-items: center;
    justify-content: center;
    /* display: flex; */
    padding:  20px;
    min-height: 100vh;
}

.top-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    padding: 30px;
    width: 94%;
    top: 0;
    color: var(--accent-color);
    
}

.top-navbar h1{
    font-family: 'monster racing';

}

.top-navbar button{
    padding: 0.5rem;
    border-radius: 8px;
    border: 2px solid rgb(181, 181, 181);
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.scoreboard{
    display: flex;
    gap: 15px;
    margin-top: 6rem;
    padding: 10px;
    background-color: rgb(229, 229, 229);
    border-radius: 20px;
    color: var(--accent-color);
}

.scoreboard .counter{
    font-weight: 800;
    font-size: 24px;
}

.score-card{
    border-radius: 10px;
    flex: 1;
    text-align: center;
    padding: 10px;

}

.battle-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 0 5% 0 5%;
}

.player-card,
.opponent-card{
    border-radius: 15px;
    border: 1px solid rgb(181, 181, 181);
    height: 260px;
    width: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
}

.card-title{
    margin-top: 0.7rem;
    font-weight: 600;
    font-size: 24px;
}

.card-content{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.vs-cont{
    padding: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: x-large;
    font-weight: bolder;
    width: 70px;
    height: 70px;
    border: 1px solid rgb(181, 181, 181);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: 0.5s ease;
    cursor: pointer;
}

.vs-cont:hover{
    /* transform: rotateZ(30deg); */
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.start-area{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 229, 229);
    padding: 20px;
    border-radius: 20px;
    margin-top: 2rem;

}

.start-btn{
    padding: 10px;
    width: 75%;
    aspect-ratio: 8;
    border: none;
    background-color: var(--accent-color);
    color: var(--bg-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 200%;
    font-weight: 500;
}

.buttons-cont{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.choice{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 30%;
    
}
.choice-btn{
    width: 100%;
    max-width: 170px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    
}
.choice-btn img{
    width: 80%;
    object-fit: contain;
}

.choice span{
    font-size:14px;
    font-weight:600;
    text-align:center;
    color: var(--text-color);
}

.choice .choice-btn:hover{
    transform: scale(1.05);
    
}

.choice .choice-btn:active{
    transform: scale(0.9);
}

.rock{
    background:
    radial-gradient(circle at 30% 30%,
    #6eff79,
    #2db64b);

    box-shadow:
    0 0 25px rgba(45,182,75,.7);
}


.paper{
    background:
    radial-gradient(
    circle at 30% 30%,
    #5ec8ff,
    #2b6cff
    );

    box-shadow:
    0 0 25px rgba(43, 108, 255, 0.7);
}


.scissors{
    background:
    radial-gradient(circle at 30% 30%,
    #ffbc52,
    #ff7a1f);
    box-shadow:
    0 0 25px rgba(255,122,31,.7);
}


.bottom-navbar{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    position: sticky;  
    bottom: 0;         
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 20px;
    background-color: var(--bg-color);
    
}

.nav-btn{
    border: none;
    background-color: white;
    padding: 1rem 0.5rem;
    flex: 1;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.nav-btn:hover{
    background-color: rgb(244, 244, 244);
}

.nav-btn.active{
    background-color: #a87fff;
    color: white;
}


